#cabezera {
    border: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

#seccion {
    height: 400px;
    border: 2px solid gray;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

#secboton {
    text-align: center;
    margin-top: 30px;
}

#boton {
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
}

#contenedor {
    display: flex;
}

#contenido {
    height: 400px;
    border: 2px solid gray;
    margin-left: 30px;
    margin-right: 18px;
    margin-top: 30px;
    width: 40%;
}

#contenido-video {
    height: 400px;
    border: 2px solid gray;
    margin-right: 30px;
    margin-top: 30px;
    width: 60%;
}

#piedepagina {
    border: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
}